* {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  padding: 5px 20px;
  width: min(90%, 70.5em);
  margin-inline: auto;
}

.wrapper fieldset {
  margin: 20px 0;
  background: #2d7ae5;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
}

input, select {
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 3px;
}

textarea {
  width: 30%;
  height: 60px;
  border: none;
  border-radius: 3px;
}

button {
  border: none;
  background: #2d7ae5;
  color: #FFFFFF;
  width: 100px;
  height: 40px;
  border-radius: 3px;
}
